.preloader__circle {
    margin: 0 auto;
    margin-top: 80px;
    background: url('../../../images/Ellipse.png') center/contain no-repeat;
	width: 74px;
	height: 74px;
	animation: spin .75s infinite linear;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}