@import url('./__title/__title.css');
@import url('./__container/__container.css');
@import url('./__block/__block.css');
@import url('./__subtitle/__subtitle.css');
@import url('./__img/__img.css');

.tech{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F5F6F7;
}