.search__button{
    background: #2F71E5;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    border-radius: 100px;
    border: none; /* Убираем рамку */
    width: 168px;
    height: 64px;
    float: right; /*использовала float для позиционирования кнопки по правому краю контейнера, margin-right не срабатывал*/
    padding: 0;
    color: #FFFFFF; /*цвет текста*/
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}