.result__grid{
    margin: 0 auto;
    width: 85.69%;
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-row-gap: 16px;
    grid-column-gap: 16px;   
    justify-content: space-between;
}