@import url('../__link/_active/_active.css');
@import url('../__link/_white/_white.css');
@import url('../__link/_gray/_gray.css');

.header__link{
    padding: 30px 0 26px 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    

}

.header__link:nth-child(2) {
    margin-left: 34px;
}