.about-author__text{
    margin: 0 auto;
    margin-top:24px;
    max-width: 600px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
}