.result__button-show{
    display: flex;
    width: 20%;
    margin: 0 auto;
    margin-top: 64px;
    margin-bottom: 80px;
    padding: 18px 84px 21px 84px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #1A1B22;
    background-color: #FFFFFF;
}