.search__button{
    background: #2F71E5;
    /* box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    border-radius: 100px;
    border: none; */
    width: 168px;
    height: 100%;
    float: right; 
    padding: 0;
    color: #FFFFFF; 
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.search__button:hover{
    background-color: #2A65CC;
}

