@import url('./_push/_push.css');

.search__button{
    width: 168px;
    height: 100%;
    float: right; 
    padding: 0;
    color: #FFFFFF; 
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    background: #2F71E5;
}

.search__button:hover{
    background-color: #347EFF;
}

