@import url('../search/__container/__container.css');
@import url('../search/__title/__title.css');
@import url('../search/__subtitle/__subtitle.css'); 
@import url('../search/__field/__field.css');
@import url('../search/__bg/__bg.css');
@import url('../search/__form/__form.css');
@import url('../search/__button/__button.css');
@import url('../search/__rectangle/__rectangle.css');

.search {
    margin: 0 auto; 
    padding: 0;
    /* width: 1440px; */
    /* position: relative; */
    color: white;
    font-family: Inter, sans-serif;
    /* z-index: 1; */
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* z-index: -1; */
    background: url('../../../images/georgia-de-lotz-UsJoNxLaNo-unsplash.png') center/cover no-repeat;
}
  