.tabel__decimal{
    position: absolute; 
    margin-top: 16px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
}

.tabel__decimal:nth-child(1){
    left: 0;
    transform: none;
}

.tabel__decimal:nth-child(2){
    left: 25%;
}

.tabel__decimal:nth-child(3){
    left: 50%;
}

.tabel__decimal:nth-child(4){
    left: 75%;
}

.tabel__decimal:nth-child(5){
    right: 0;
    transform: none;
}